:root {
  /* #3563EF */
  --primary-color: 53 99 239;
  /*#E2E8F0 */
  --primaryBg-color: 226 232 240;
  /* #232D42 */
  --text-basic: 35 45 66;
  /* #8A92A6 */
  --text-grey: 138 146 166;
  /* #A0AEC0 */
  --text-lightGrey: 160 174 192;
  /* #EEEEEE*/
  --border-grey: 238 238 238;
  /* #EFF3F7*/
  --bg-grey: 239 243 247;
}
* {
  box-sizing: border-box;
  /* 禁止选中文字 */
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#app {
  background-size: contain;
  background-repeat: no-repeat;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
